$text-color-theme-light-d: #FF9AA2; // 파스텔 레드
$text-color-theme-light: #FFB7B2; // 파스텔 핑크
$text-color-theme-light-l: #FFDAC1; // 파스텔 오렌지

$text-color-primary: #6da7b6;
$link-color: #FF9AA2;
$background-color: #FDF6F6;
$code-background-color: #fff0f5;